*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px 7%;
    background-color: antiquewhite;
}

ul{
    display: flex;
    list-style: none;
    gap: 18px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #575757;
}

.btn-1{
    padding: 15px 30px;
    background-color: #1D4ED8;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("./assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

